{% include '../../shared/navbar.njk' %}
<br/>
{% include '../../shared/header.njk' %}
<br/>
{% include '../../shared/section.njk' %}
{% include '../../shared/plans.njk' %}
{% include '../../shared/map.njk' %}
{% include '../../shared/social-accounts.njk' %}
{% include '../../shared/footer.njk' %}

