<section class='subscribe'>
  <div class="subscribe__subscribe-container">
    <div class="subscribe__title">
    <h1 class="subscribe__text">Subscribe Now for<br/> Get Special Features!</h1>
    <p class="subscribe__description">Let's subscribe with us and find the fun.</p>
   </div>
  </div>
  <button class="subscribe__button">Subscribe Now</button>
  
</section>

<footer class="footer">
  <div class="footer__logo">
    <div class='logo-contianer'>
      <img class="footer__img" src="assets\images\logoo.png" alt="logo">
      <h2 class="footer__title">Lasles<strong>VPN</strong></h2>
    </div>
    <p class="footer__details"><strong>LaslesVPN</strong> is a private virtual network that<br/> has unique features and has high security.</p>
     <img class"Social-media__img" src="assets\images\facebook.jpg" alt ="foto">
     <img class"Social-media__img" src="assets\images\facebook.jpg" alt ="foto">
     <img class"Social-media__img" src="assets\images\facebook.jpg" alt ="foto">
     <h4 class="Signature">©2020LaslesVPN</h4>
  </div>

   

<div class="footer-listes">
  <div class="footer-listes__list"> 
    <strong>Product</strong>
    <a>Download</a>
    <a>Pricing</a>
    <a>Locations</a>
    <a>Server</a>
    <a>Countries</a>
    <a>Blog</a>

  </div>
  <div class="footer-listes__list">
    <strong>Engage</strong>
    <a>LaslesVPN ?</a>
    <a>FAQ</a>
    <a>Tutorials</a>
    <a>About Us</a>
    <a>Privacy Policy</a>
    <a>Terms of Service</a>
 
  </div>
  <div class="footer-listes__list"> 
    <strong>Earn Money</strong>
    <a>Affiliate</a>
    <a>Become Partner</a>
  </div>
</div>

</footer> 