<header class="header">
      <div class="header__descripton">
        <h1 class="header__title">
          Want anything to be <br />
          easy with<span>LaslesVPN</span>.
        </h1>
        <p class="header__paragraph">
          Provide a network for all your needs with ease and fun using
          <span>LaslesVPN</span><br/ > discover interesting features from us.
        </p>
        <div class="header__btn-cont">
          <button class="btn-cont__btn">GetStarted</button>
          <div class="btn-cont__rectangular"></div>
        </div>
      </div>
      <div class="header__img">
        <img src="./assets/images/header.png" alt="Illustration1" />
      </div>
    </header>