 <section class="box">
        <div class="box__user">
          <img src="./assets/images/user.jpeg" alt="user">
        </div>
        <div class="box__group-user">
          <p>
            <b>90+</b>
          </p>
          <p>Users</p>
        </div>
        <div class ="box__logation">
          <img src="./assets/images/location.jpeg" alt="">
        </div>
        <div class="box__group-logation">
          <p>
            <b>30+</b>         
            </p>
          <p>Locations</p>
        </div>
        <div class="box__server">
            <img src="./assets/images/server.jpeg" alt="">
        </div>
        <div class ="box__group-server">
          <p>
            <b>50+</b>
            </p>
          <p>Servers</p>
        </div>
        <div class ="box__vektor">
        </div>
        <div class="box__vektor1">
        </div>
    </section>