<section class='map'>
  <h2 class='map__title'>Huge Global Network <br/> of Fast VPN</h2>
  <p class='map__description'>See <span>LaslesVPN</span> everywhere to make it easier for you when you move <br/> locations.</p>
  <div class='map__img-container'>
    <img class='img-container__img' src="./assets/images/map.png" alt="map" />
  </div>

 <div class='socail-media-container'> 
  <section class='social-media'>
     <img src="./assets/images/netflix.png" alt="netflix" />
     <img src="./assets/images/reddit.png" alt="reddit" />
     <img src="./assets/images/amazon.png" alt="amazon" />
     <img src="./assets/images/discord.png" alt="discord" />
    <img src="./assets/images/spotify.png" alt="spotify" />
  </section>
</div>
</section>