<nav class="navbar">
    <a class="navbar__logo"><img src="./assets/images/logo.jpg" class="navbar__logo-img" alt=""> Lasles<strong>VPN</strong></a>
    <div class="navbar__menu">
        <a class="navbar__link">About</a>
        <a class="navbar__link">Features</a>
        <a class="navbar__link">Pricing</a>
        <a class="navbar__link">Testimonials</a>
        <a class="navbar__link">Help</a>
    </div>
    <div class="navbar__auth">
        <a class="navbar__sign-in"><strong>Sign In</strong></a>
        <a class="navbar__sign-out">Sign Up</a>
    </div>
</nav>