<section class="plans">
            <div class="plans__header">
                <h2 class="plans__title">Choose Your Plan</h2>
                <p>Let's choose the package that is best for you and explore it happily and<br /> cheerfully.</p>
            </div>
            <div class="plans__cards">
                <div class="plans__card">
                    <img class="plans__card-img" src="./assets/images/card-img.jpg" alt="free_plan.jpeg">
                    <h3 class="plans__card-title">Free Plan</h3>
                    <div class='plans__details'>
                      <ul>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Unlimited Bandwitch</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Encrypted Connection</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> No Traffic Logs</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Works on All Devices</li>
                      </ul>
                      <div class='plans__prices'>
                        <div class="plans__price"><strong>Free</strong></div>
                        <button class="plans__btn"><strong>Select</strong></button>
                      </div>  
                    </div>
                </div>
                <div class="plans__card">
                    <img class="plans__card-img" src="./assets/images/card-img.jpg" alt="free_plan.jpeg">
                    <h3 class="plans__card-title">Standart Plan</h3>
                     <div class='plans__details'>
                      <ul>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Unlimited Bandwitch</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Encrypted Connection</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Yes Traffic Logs</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Works on All Devices</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Connect Anyware</li>
                      </ul>
                      <div class='plans__prices'>
                    <div class="plans__price"><b>$8</b>/mo</div>
                    <button class="plans__btn"><strong>Select</strong></button>
                     </div>  
                    </div>  
                </div>
                <div class="plans__card">
                    <img class="plans__card-img" src="./assets/images/card-img.jpg" alt="free_plan.jpeg">
                    <h3 class="plans__card-title">Premium Plan</h3>
                    <div class='plans__details'>
                    <ul>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Unlimited Bandwitch</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Encrypted Connection</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Yes Traffic Logs</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Works on All Devices</li>
                        <li><img src="./assets/images/list-icon.jpg" alt=""> Get New Features</li>
                    </ul>
                    <div class='plans__prices'>
                    <div class="plans__price"><b>$12</b>/mo</div>
                    <button class="plans__btn active"><strong>Select</strong></button>
                     </div>  
                    </div>  
                </div>
            </div>
        </section>