<section > 
        <div class="box">
            <img src="./assets/images/illustration2.jpg" alt=""> </div>
       

        <div class="aside">
            <h5 class="aside__h5">We Provide Many Features You Can Use</h5>
            <div class="aside__p">
                    <p class="p">You can explore the features that we provide with fun and have their own functions each feature.  </p>
            </div>
            <div class="aside__img">
                    <img  src="./assets/images/group1120.jpg" alt="">
            </div> 
            <div class="aside__article">
                <p>Powerfull online protection.</p>
            </div>
            <div class ="aside__img2"  src="./assets/images/group1120.jpg" alt="">  
                <img  src="./assets/images/group1120.jpg" alt=""> 
            </div>
            <div class="aside__article2">
                <p>Internet without borders.</p>
            </div>
            <div class ="aside__img3"  src="./assets/images/group1120.jpg" alt="">  
                <img  src="./assets/images/group1120.jpg" alt=""> 
            </div>
            <div class="aside__article3">
                <p>Supercharged VPN</p>
            </div>
            <div class ="aside__img4"  src="./assets/images/group1120.jpg" alt="">  
                <img  src="./assets/images/group1120.jpg" alt=""> 
            </div>
            <div class="aside__article4">
                <p>No specific time limits.</p>
            </div>
        </div>
        
    </section>