<article>
<div class='accounts-container'>
  <h2 class='accounts-container__title'>Trusted by Thousands<br/ > of Happy Customer</h2>
  <p class='accounts-container__description'>These are the stories of our customers who have joined us with<br /> great pleasure when using this crazy feature.</p>

  <div class='accounts-container__socail-accounts'>

    <div class='social-account current'>
     <div class='socail-account__details'>
       <div class='socail-account__person'>
         <div class='socail-account__info'>
           <img src="./assets/images/person1.png" alt="person1" />
           <p>Viezh Robert<br/><span>Warsaw, Poland</span></p>
         </div>
         <div class='socail-account__rate'>
           <p>4.5</p>
           <img src="./assets/images/star.png" alt="star" />
         </div>
       </div>
       <div class='socail-account__description'>
         <p>“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.</p>
       </div>
     </div>
    </div>

    <div class='social-account'>
       <div class='socail-account__details'>
       <div class='socail-account__person'>
         <div class='socail-account__info'>
           <img src="./assets/images/person2.png" alt="person2" />
           <p>Yessica Christy<br/><span>Shanxi, China</span></p>
         </div>
         <div class='socail-account__rate'>
           <p>4.5</p>
           <img src="./assets/images/star.png" alt="star" />
         </div>
       </div>
       <div class='socail-account__description'>
         <p>“I like it because I like to travel far and still can connect with high speed.”.</p>
       </div>
     </div>
    </div>
    
    <div class='social-account'>
       <div class='socail-account__details'>
       <div class='socail-account__person'>
         <div class='socail-account__info'>
           <img src="./assets/images/person3.png" alt="person3" />
           <p>Kim Young Jou<br/><span>South Korea</span></p>
         </div>
         <div class='socail-account__rate'>
           <p>4.5</p>
           <img src="./assets/images/star.png" alt="star" />
         </div>
       </div>
       <div class='socail-account__description'>
         <p>“This is very unusual for my business that currently requires a virtual private network that has high security.”.</p>
       </div>
     </div>
    </div>
  
  </div>
  <div class='accounts-container__buttons-container'>
    <div class='accounts-container__buttons'>
      <div class='buttons__rectangle'></div>
      <div class='buttons__circle'></div>
      <div class='buttons__circle'></div>
      <div class='buttons__circle'></div>
    </div>

    <div class='accounts-container__vectors'>
      <button class='accounts-container__vector-btn'>
         <img src="./assets/images/vector1.png" alt="vector1" />
      </button>
      <button class='accounts-container__vector-btn submited'>
         <img src="./assets/images/vector2.png" alt="vector2" />
      </button>
    </div>
  </div>
</div>
</article>