.box{
    display: flex;
    width:1140px;
    height:200px;
    background-color:white;
    border-radius:10px;
   }
   .box__user{
    width:55px;
    height:55px;
    margin-left:91px;
    margin-top:46.05px;
    margin-bottom:72.95px;
    background-color:white;
    
   }
  
   .box__group-user{
    width:53px;
    height:65px;
    margin-left:182.5px;
    margin-top:41.05px;
    margin-bottom:67.95px;
    background-color:white;
    
   }
  
   .box__logation{
    width:55px;
    height:55px;
    margin-left:478.5px;
    margin-top:46.05px;
    margin-bottom:72.95px;
    background-color:white;
   }
  
   .box__group-logation{
    width:91px;
    height:65px;
    margin-left:570px;
    margin-top:41.05px;
    margin-bottom:67.95px;
    background-color:white;
     
   }
  
   .box__server{
    width:55px;
    height:55px;
    margin-left:887px;
    margin-top:46.05px;
    margin-bottom:72.95px;
    background-color:white;
   }
  
   .box__group-server{
    width:91px;
    height:65px;
    margin-left:978.5px;
    margin-top:41.05px;
    margin-bottom:67.95px;
    background-color:white;
   }

   .box__vektor{
    width: 0px;
    height: 125.57px;
    border: 12px;
    border: solid #eeeff2 ;
    
   }
   .box__vektor1{
    width: 0px;
    height: 125.57px;
    border: 12px;
    border: solid #eeeff2;
   }









  
  
