.box {
	position: absolute;
	width: 457.12px;
	height: 414.71px;
	left: 184.52px;
	top: 960.38px;
}

.aside {
	width: 383.41px;
	height: 100px;
	margin-top: 1014.55px;
	margin-left: 862.12px;
}

.aside__h5 {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 50px;
	color: #0b132a;
	position: relative;
	top: -600px;
}

.aside__p {
	font-family: Rubik;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #4f5665;
}

.aside__img {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 860px;
	top: 1225.55px;
}
.aside__article {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 1214.55px;
	left: 896.2px;
	right: 350px;
	color: #4f5665;
}

.aside__img2 {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 860px;
	top: 1267.55px;
}

.aside__article2 {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 1255.55px;
	left: 896.2px;
	right: 350px;
	color: #4f5665;
}

.aside__img3 {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 860px;
	top: 1354.55px;
}

.aside__article3 {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 1298.55px;
	left: 896.2px;
	right: 350px;
	color: #4f5665;
}

.aside__img4 {
	position: absolute;
	width: 20px;
	height: 30px;
	left: 860px;
	top: 1309.55px;
}

.aside__article4 {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 1338.55px;
	left: 896.2px;
	right: 350px;
	color: #4f5665;
}

.p {
	width: 427.88px;
	height: 60px;
	position: absolute;
	top: 1134.5px;
	left: 862.12px;
}
