$rem-baseline: 16;
$button-red: #F53855;
$home-bgcolor: #ffc0cb;
$plans-bgcolor: #fbfbfb;
$card-border: #dddddd;
$card-active-border: #F53838;
$active-btn: #F53838;
$btn-color: #F53838;


// :root {
// 	--home-color: #ffc0cb;
// }
